AUTH_DB_USER=twomice
AUTH_DB_PASSWORD=twomice
AUTH_DB_NAME=auth
AUTH_DB_PORT=5432

POST_DB_USER=twomice
POST_DB_PASSWORD=twomice
POST_DB_NAME=post
POST_DB_PORT=5433

MODERATION_DB_USER=twomice
MODERATION_DB_PASSWORD=twomice
MODERATION_DB_NAME=moderation
MODERATION_DB_PORT=5434

SOCIAL_DB_USER=twomice
SOCIAL_DB_PASSWORD=twomice
SOCIAL_DB_NAME=social
SOCIAL_DB_PORT=5435

FEED_DB_USER=twomice
FEED_DB_PASSWORD=twomice
FEED_DB_NAME=social_feed
FEED_DB_PORT=5436

AUTH_DATABASE_URL=postgresql://${AUTH_DB_USER:-twomice}:${AUTH_DB_PASSWORD:-twomice}@localhost:${AUTH_DB_PORT:-5432}/${AUTH_DB_NAME:-auth}
POST_DATABASE_URL=postgresql://${POST_DB_USER:-twomice}:${POST_DB_PASSWORD:-twomice}@localhost:${POST_DB_PORT:-5433}/${POST_DB_NAME:-post}
MODERATION_DATABASE_URL=postgresql://${MODERATION_DB_USER:-twomice}:${MODERATION_DB_PASSWORD:-twomice}@localhost:${MODERATION_DB_PORT:-5434}/${MODERATION_DB_NAME:-moderation}
SOCIAL_DATABASE_URL=postgresql://${SOCIAL_DB_USER:-twomice}:${SOCIAL_DB_PASSWORD:-twomice}@localhost:${SOCIAL_DB_PORT:-5435}/${SOCIAL_DB_NAME:-social}
FEED_DATABASE_URL=postgresql://${FEED_DB_USER:-twomice}:${FEED_DB_PASSWORD:-twomice}@localhost:${FEED_DB_PORT:-5436}/${FEED_DB_NAME:-social_feed}

AUTH_SERVICE_URL=http://auth:8080
POST_SERVICE_URL=http://post:8080
MODERATION_SERVICE_URL=http://moderation:8080
SOCIAL_SERVICE_URL=http://social:8080
FEED_SERVICE_URL=http://social-feed:8080

PORT=8080
